/*Made by BubonicPlague #14969, for the use of #14969 */
@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
background: url('https://i.imgur.com/f1lVliG.jpeg') center center fixed;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
cursor: url(https://i.imgur.com/RkW8OYY.png), progress !important; 
}

body, a:hover {
cursor: url(https://i.imgur.com/rsT4HXp.png), progress;
}

body > div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img {
content: url('https://i.imgur.com/stCP2l2.png');}

.boxcontainer {
background: none;
margin-left: auto;
margin-right: auto;
float: left;
margin-bottom: 10px;
width: 400px;
height: 200px;
}

.box1 {
float: left;
background-color: rgb(38, 34, 36, .70) !important;
width: 400px;
height: 200px;
border: 3px solid #090d0c;
padding: 5px;
color: #edceea;
text-align: center;
overflow: auto;
margin-bottom: 5px;
}
.box2 {
float: center;
background-color: rgb(38, 34, 36, .70) !important;
width: 400px;
height: 200px;
border: 3px solid #090d0c;
padding: 5px;
color: #edceea;
text-align: center;
overflow: auto;
margin-bottom: 5px;
}

/*-------------------------*/
/*Beetles*/
/*-------------------------*/
img[src$="icon-beetle-gold.png"] {
content: url("https://i.imgur.com/Ldl247W.png") !important;
width: 50px !important;
}

img[src$="icon-beetle-silver.png"] {
content: url("https://i.imgur.com/xHCeF1I.png") !important;
width: 50px !important;
}

/* Bookmark Button*/
input.floatright,
input.floatright:hover {
  background: rgb(188, 101, 113,.60) !important;
  border: none !important;
  border-radius: 3px !important;
  color: #edceea !important;
  font-family: 'Paprika', sans-serif;
  cursor: url(https://i.imgur.com/rsT4HXp.png), progress !important; 
}


/* Switch Account Button*/
button.button,
button.button:hover {
  background: rgb(188, 101, 113,.60) !important;
  border: none !important;
  border-radius: 3px !important;
  text-shadow: none !important;
  color: #edceea !important;
  font-family: 'Paprika', sans-serif;
  cursor: url(https://i.imgur.com/rsT4HXp.png), progress !important; 
}

.col-md-9 {
width: 75%;
background-color: transparent !important;
border-radius: 5px;
box-shadow: none !important;
}

.container {
box-shadow: none;
background: transparent!important;
border: none !important;
}


.main {
color: #edceea;
background: rgb(237, 135, 117, .20)!important;
border-radius: 10px;
box-shadow: none !important;
}

.navbar {
background: rgb(237, 135, 117, .40)!important;
border: transparent !important;
border-radius: 10px;
}

.navbar-default .navbar-nav > li > a {
font-family: 'Dancing Script', sans-serif;
font-size: 23px !important;
}

.breadcrumb {
color: #edceea;
background-color: rgb(188, 101, 113,.60)!important;
border-radius: 10px;
font-family: 'Paprika', sans-serif;
font-size: 13px !important;
}

.breadcrumb .active {
  color: #edceea !important;
}

.breadcrumb::after {
  content: "CSS by Vacant Coin (#14969)";
  color: #f0f0f0 !important;
  position: absolute;
  right: 13%;
  z-index: 100
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .breadcrumb::after {
    right: 20%
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .breadcrumb::after {
    right: 20%
  }
}

@media only screen and (max-width: 767px) {
  .breadcrumb::after {
    right: 22%
  }
}

.feature {
background-color: rgb(188, 101, 113, .60);
color: #edceea !important;
border: none !important;
}

.panel {
color: #edceea;
background-color: rgb(237, 135, 117, .50)!important;
border: none !important;
box-shadow: none !important;
font-family: 'Paprika', sans-serif;
font-size: 18px !important;
}

.topbar {
background-color: rgb(188, 101, 113,.70)!important;
color: #edceea;
border-radius: 10px;
font-family: 'Paprika', sans-serif;
font-size: 13px !important;
}

.s-chat-message:nth-child(even) {
	background: rgb(188, 101, 113,.30) !important;
	border: none !important;
	color: #edceea !important;
}

.s-chat-message:nth-child(odd) {
	background: rgb(188, 101, 113,.30) !important;
	border: none !important;
	color: #edceea !important;
}

.s-chat-message__pinned {
	background:  rgb(237, 135, 117, .30) !important;
	color: #edceea !important;
	border: none !important;
	font-family: 'Paprika', sans-serif;
}

.s-chat-message_timestamp {
	color: #edceea!important;
}

div#chatMessageContainer {
	border: none !important;
	border-radius: 10px !important;
    background: rgb(237, 135, 117, .30);
}

button#label_currentChannel {
    color: #edceea;
	border: 2px solid #edceea !important;
    border-radius: 10px !important;
	background: rgb(188, 101, 113,.60) !important;
	font-family: 'Paprika', sans-serif;
}

a:link {
color: #a74e55!important;
}

a:visited {
color: #edceea !important;
}

 a:active {
color:  #edceea !important;
 }
 
 a:hover {
background: transparent !important;
color: #ed867b !important;
 }

.sidebar h3 {
background: transparent !important;
color: #edceea;
font-family: 'Paprika', sans-serif;
font-size: 20px !important;
}

tbody {
background: transparent !important;
border: 0px !important;
border-color: transparent;
border-radius: 10px;
font-family: 'Paprika', sans-serif;
font-size: 15px !important;
}

table.auto {
background: transparent;
border: 0px !important;
border-radius:10px;
border-color: transparent;
font-family: 'Paprika', sans-serif;
font-size: 15px !important;

}

td.right, #about .right > td {
  background: transparent !important;
  color: #a74e55 !important;
}

td.right>img {
border-radius: 1px;
}

.left {
color: #edceea;
}

textarea {
background: transparent!important;
color: #a74e55 !important;
border: 0px !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
font-family: 'Paprika', sans-serif;
font-size: 15px !important;
}

select {
vertical-align: middle !important;
text-shadow: none;
box-shadow: none;
background-color: rgb(188, 101, 113,.40) !important;
color: #a74e55 !important;
border: 0px !important;
font-family: 'Paprika', sans-serif;
font-size: 15px !important;
}

textarea:focus {
background: transparent !important;
color: #a74e55 !important;
border: 0px !important;
text-align: center!important;
text-shadow: none !important;
box-shadow: none !important;
font-family: 'Paprika', sans-serif;
font-size: 15px !important;
}

select:focus {
background-color: rgb(188, 101, 113,.40) !important;
color: #a74e55 !important;
border: 2px solid #edceea !important;
}

input[type="text"] {
background: rgb(188, 101, 113,.60))!important;
color:#edceea !important;
border:2px solid #edceea !important;
font-family: 'Paprika', sans-serif;
font-size: 13px !important;}

input[type="password"] {
background: rgb(188, 101, 113,.60)!important;
color:#edceea !important;
border: 2px solid #edceea !important;}

#lion_image {
overflow: hidden;
border: 0px;
}
#lion_image > div > img:nth-child(1) {display: none;}

table#player img {
  border-radius: 8% !important;
}
  
.table, .item {
background: transparent !important;
border: 0px !important;
border-collapse: separate;
}
 
.table{
background: transparent !important;
border: none;
}
.table .right{
background: transparent!important;
color:#a74e55 !important;
box-shadow: none;
border-bottom-left-radius: 5px !important;
border-bottom-right-radius: 5px !important;
}

.table .right_odd{
	background: transparent!important;
	color:#edceea!important;
}
 
.table .top{
border: 0px !important;
background: rgb(188, 101, 113,.70) !important;
color: #a74e55;
border-width: 2px;
border-top-left-radius: 10px !important;
border-top-right-radius: 10px !important;
box-shadow: none;
font-family: 'Paprika', sans-serif;
font-size: 13px !important;
}

.inner-table .left {
background: rgb(188, 101, 113,.70) !important;
color: #edceea !important;
border: none !important;}


.table .bottom {
  background: rgb(188, 101, 113, .70) !important;
  color: #edceea !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px;
}
.table .left {
background-color: rgb(188, 101, 113,.70) !important;
border: none !important;
color: #c64d5a;
}
.inner-table .right {
  background: transparent !important;
  color: #a74e55 !important;
  border:none;
}
 
.feature,
div.left {
background-color: rgb(188, 101, 113,.70);
border: none;}

.table th {
background-color: rgb(188, 101, 113,.70) !important;
border: none !important;
color: #c64d5a;}
 
 
.mound-grid {
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
background: rgb(237, 135, 117, .50)!important;
color: #c64d5a;
border: 3px solid #edceea !important;
box-shadow: none;
font-family: 'Paprika', sans-serif;
font-size: 18px !important;
}
div.mound-grid img {
content: url('https://i.imgur.com/s0vLbjx.png');
opacity:0.7 !important;
height: 100px;
transition: transform 1s ease !important;
}

div.mound-grid>img:hover{
	content: url('https://i.imgur.com/s0vLbjx.png');
    height: 100px;
    transition: 0.9s !important;}

.cave-grid {
border-bottom-left-radius: 10px !important;
border-bottom-right-radius: 10px !important;
background: rgb(237, 135, 117, .50)!important;
color: #c64d5a;
border: 3px solid #edceea !important;
box-shadow: none;
font-family: 'Paprika', sans-serif;
font-size: 18px !important;
}
.cave-grid img {
content: url('https://i.imgur.com/EBue8n4.png');
padding-left: 0%;
	height: 250px;	
	width:auto;
	opacity: 0.75;
	border: 0px ridge;
	overflow: hidden;
	border: 0px;
	border-radius: 10px !important;
	Opacity:0.5;
	transition: transform 1s ease !important;
}

div.cave-grid>img:hover{
	content: url('https://i.imgur.com/EBue8n4.png')!important;
	padding-left: 0%;
	padding-bottom: 0%;
	height: 250px;	
	width:auto;
	opacity: 1;
	overflow: hidden;
	transition: 0.9s !important;
}
 
 
.navbar-default .navbar-nav > li > a :hover {
background: transparent!important;
}
 

.progress-bar-warning { text color: #edceea!important; background: #c64d5a !important; border: 10px;}

.progress-bar-danger {text: color: #edceea !important; background: #c64d5a !important; border: 10px;}

.progress-bar-success {text: color: #edceea !important; background: #c64d5a !important; border: 10px;}

.progress-bar {text: color: #edceea !important; background: #c64d5a !important; border: 10px;}

.progress {background: transparent !important;}

.progress div {
color: #edceea !important;
}

input[type="submit"] {
background: transparent !important;
color:#edceea;
border: none;
text-shadow:none;
font-family: 'Paprika', sans-serif;
}

input[type="submit"]:hover
{
background: transparent !important;
color:#edceea;
border: none;
text-shadow:none;
font-family: 'Paprika', sans-serif;
}

input[type="button"] {
background: transparent !important;
color:#edceea !important;
border: none;
border-radius: 10px;
text-shadow:none;
font-family: 'Paprika', sans-serif;
}

input[type="button"]:hover
{
background: transparent !important;
color: #edceea;
border: none;
border-radius: 10px;
text-shadow: none;
font-family: 'Paprika', sans-serif;
}

.sidebar h4 {
color: #a74e55
font-family: 'Paprika', sans-serif;
}

h1 {
text-align: center !important;
color: #a74e55;
font-family: 'Paprika', sans-serif;
font-size: 40px !important;
}

h2 {
text-align: center !important;
color: #a74e55;
font-family: 'Paprika', sans-serif;
font-size: 20px !important;
}


h3 {
color: #a74e55 !important;
background: transparent !important;
font-family: 'Paprika', sans-serif;
font-size: 20px !important;
}

.alert-success {
background: rgb(188, 101, 113,.60) !important;
color: #edceea !important;
border: 3px solid #edceea !important;
text-align: center !important;
font-family: 'Paprika', sans-serif;
}

.attack-won {
background: rgb(188, 101, 113,.60) !important;
color: #edceea !important;
border: 3px solid #edceea !important;
text-align: center !important;
font-family: 'Paprika', sans-serif;
}

.attack-lost {
background: rgb(188, 101, 113,.60)  !important;
color: #edceea !important;
border: 3px solid #edceea!important;
text-align: center !important;
font-family: 'Paprika', sans-serif;
}

.alert,
.alert-warning,
.alert-danger {
background: rgb(188, 101, 113,.60) !important;
color: #edceea !important;
border: 3px solid #edceea !important;
text-align: center !important;
font-family: 'Paprika', sans-serif;
}

.badge {
background: rgb(188, 101, 113,.60) !important;
color: #edceea !important;
border: 3px solid #edceea !important;
text-align: center !important;
font-family: 'Paprika', sans-serif;
}


.footer {
border: none;
border-radius: 15px;
font-family: 'Paprika', sans-serif;
}

::-webkit-scrollbar {
width: 10px;
}
 
::-webkit-scrollbar-track {
background-color: #262224 !important;}

 
::-webkit-scrollbar-thumb {
background: #c64d5a;
border-radius: 2px;;
border: none;
}

::-moz-scrollbar {
width: 10px;
border-radius:2px;
}
 
::-moz-scrollbar-track {
background-color: #262224 !important;}
}
 
::-o-scrollbar-thumb {
background-color: #c64d5a;
border-radius: 2px;
border: none;
}

::-o-scrollbar {
width: 10px;
border-radius:2px;
}
 
::-o-scrollbar-track {
background-color: #262224 !important;}
 
::-webkit-scrollbar-thumb {
background-color: #c64d5a;
border-radius: 2px;
border: none;
}

@media only screen and (max-width: 767px) {
  .container.main .hidden-xs {
    display: block !important;
  }
}


@media only screen and (max-width: 767px) {
  .container.main .hidden-xs {
    display: block !important;
  }
}


@media only screen and (max-width: 991px) and (min-width: 768px) {
  display: block !important;
}


@media only screen and (min-width: 1200px) {
  div.quote {
    width: 790px;
  }